<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <style>
            .log-line {
                display: table;
                width: 100%;
                height: 30px;
                padding: 5px;
                border: 1px solid #eee;
                border-left-width: 5px;
                margin: 0 auto;
                font-family: 'Ubuntu', sans-serif;
                font-size: 13px;
            }

            .log-date {
                display: table-cell;
                padding: 5px;
                width: 5%;
            }

            .log-logger {
                display: table-cell;
                padding: 5px;
                width: 5%;
            }

            .log-level {
                display: table-cell;
                padding: 5px;
                width: 4%;
            }

            .log-message {
                display: table-cell;
                padding: 5px;
                width: 86%;
            }

            .log-extra {
                display: table-cell;
                padding: 5px;
                width: 50%;
            }

            .log-context {
                display: table-cell;
                padding: 5px;
                width: 50%;
            }

            #wrapper {
                padding-left: 0;
                transition: all 0.5s ease;
            }

            @media (min-width: 1024px) {
                #wrapper {
                    padding-left: 250px;
                }
            }

            #wrapper.toggled {
                padding-left: 200px;
            }

            @media (min-width: 1024px) {
                #wrapper.toggled {
                    padding-left: 0;
                }
            }

            #sidebar-wrapper {
                z-index: 1000;
                position: fixed;
                left: 250px;
                width: 0;
                height: 100%;
                margin-left: -250px;
                overflow-y: auto;
                background: #000;
                transition: all 0.5s ease;
            }

            @media (min-width: 1024px) {
                #sidebar-wrapper {
                    width: 250px;
                }
            }

            #wrapper.toggled #sidebar-wrapper {
                width: 250px;
            }

            @media (min-width: 1024px) {
                #wrapper.toggled #sidebar-wrapper {
                    width: 0;
                }
            }

            #page-content-wrapper {
                width: 100%;
                position: absolute;
            }

            @media (min-width: 1024px) {
                #page-content-wrapper {
                    position: relative;
                }
            }

            #wrapper.toggled #page-content-wrapper {
                position: absolute;
                margin-right: -250px;
            }

            @media (min-width: 1024px) {
                #wrapper.toggled #page-content-wrapper {
                    position: relative;
                    margin-right: 0;
                }
            }

            .sidebar-form-bottom {
                position: fixed;
                top: 40px;
                left: -16px;
            }

            .sidebar-nav {
                position: absolute;
                top: 0;
                width: 250px;
                margin: 0;
                padding: 0;
                list-style: none;
            }

            .sidebar-nav > .sidebar-brand {
                height: 65px;
                font-size: 18px;
                line-height: 60px;
            }

            .sidebar-nav > .sidebar-brand a {
                color: #999;
            }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }

            .sidebar-nav li {
                text-indent: 20px;
                line-height: 40px;
            }

            .sidebar-nav li a {
                display: block;
                text-decoration: none;
                color: #999;
            }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255, 255, 255, 0.2);
            }

            .sidebar-nav li a:active, .sidebar-nav li a:focus {
                text-decoration: none;
            }

            .debug {
                background-color: #f0ad4e;
            }

            .log-line-debug {
                border-left-color: #f0ad4e;
                background-color: rgba(240, 173, 78, 0.1);
            }

            .log-line-debug:hover, .log-line-debug:focus {
                background-color: rgba(240, 173, 78, 0.5);
                border-left-color: #f0ad4e;
                box-shadow: -0.5px 1px 30px 1px rgba(0, 0, 0, 0.1) inset;
            }

            .label-debug {
                background-color: #f0ad4e;
            }

            .info {
                background-color: #5bc0de;
            }

            .log-line-info {
                border-left-color: #5bc0de;
                background-color: rgba(91, 192, 222, 0.1);
            }

            .log-line-info:hover, .log-line-info:focus {
                background-color: rgba(91, 192, 222, 0.5);
                border-left-color: #5bc0de;
                box-shadow: -0.5px 1px 30px 1px rgba(0, 0, 0, 0.1) inset;
            }

            .label-info {
                background-color: #5bc0de;
            }

            .notice {
                background-color: #5bc0de;
            }

            .log-line-notice {
                border-left-color: #5bc0de;
                background-color: rgba(91, 192, 222, 0.1);
            }

            .log-line-notice:hover, .log-line-notice:focus {
                background-color: rgba(91, 192, 222, 0.5);
                border-left-color: #5bc0de;
                box-shadow: -0.5px 1px 30px 1px rgba(0, 0, 0, 0.1) inset;
            }

            .label-notice {
                background-color: #5bc0de;
            }

            .emergency {
                background-color: #d9534f;
            }

            .log-line-emergency {
                border-left-color: #d9534f;
                background-color: rgba(217, 83, 79, 0.1);
            }

            .log-line-emergency:hover, .log-line-emergency:focus {
                background-color: rgba(217, 83, 79, 0.5);
                border-left-color: #d9534f;
                box-shadow: -0.5px 1px 30px 1px rgba(0, 0, 0, 0.1) inset;
            }

            .label-emergency {
                background-color: #d9534f;
            }

            .alert {
                background-color: #d9534f;
            }

            .log-line-alert {
                border-left-color: #d9534f;
                background-color: rgba(217, 83, 79, 0.1);
            }

            .log-line-alert:hover, .log-line-alert:focus {
                background-color: rgba(217, 83, 79, 0.5);
                border-left-color: #d9534f;
                box-shadow: -0.5px 1px 30px 1px rgba(0, 0, 0, 0.1) inset;
            }

            .label-alert {
                background-color: #d9534f;
            }

            .critical {
                background-color: #d9534f;
            }

            .log-line-critical {
                border-left-color: #d9534f;
                background-color: rgba(217, 83, 79, 0.1);
            }

            .log-line-critical:hover, .log-line-critical:focus {
                background-color: rgba(217, 83, 79, 0.5);
                border-left-color: #d9534f;
                box-shadow: -0.5px 1px 30px 1px rgba(0, 0, 0, 0.1) inset;
            }

            .label-critical {
                background-color: #d9534f;
            }

            .error {
                background-color: #d9534f;
            }

            .log-line-error {
                border-left-color: #d9534f;
                background-color: rgba(217, 83, 79, 0.1);
            }

            .log-line-error:hover, .log-line-error:focus {
                background-color: rgba(217, 83, 79, 0.5);
                border-left-color: #d9534f;
                box-shadow: -0.5px 1px 30px 1px rgba(0, 0, 0, 0.1) inset;
            }

            .label-error {
                background-color: #d9534f;
            }

        </style>
    </head>
    <body>
        <div ng-app="watchman">
            <div ng-controller="LogController">

                <div id="wrapper">
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand" ng-repeat="(file, lines) in collection">
                                <a href ng-click="$parent.display = file">[[ file ]] ([[ lines.length ]])</a>
                            </li>
                        </ul>

                        <ul class="sidebar-form-bottom">
                            <input type="text" name="ws_host">
                            <input type="text" name="ws_port">
                        </ul>
                    </div>

                    <div id="page-content-wrapper">
                        <div ng-repeat="(file, lines) in collection">
                            <ul ng-show="display == file" class="list-unstyled">
                                <li ng-repeat="line in lines">
                                    <div tabindex="[[ $index + 1]]" class="log-line log-line-[[ line.data.level | lowercase ]]">
                                        <div class="log-date">
                                            <strong>[[ line.data.date | date:'H:mm:ss' ]]</strong>
                                        </div>
                                        <div class="log-level">
                                            <span class="label label-[[ line.data.level | lowercase ]]">[[ line.data.level ]]</span>
                                        </div>

                                        <div class="log-logger">
                                            [[ line.data.logger ]]
                                        </div>

                                        <div class="log-message">
                                            [[ line.data.message ]]
                                        </div>
                                    </div>

                                    <div class="log-line log-line-[[ line.data.level | lowercase ]]" ng-if="line.data.hasOwnProperty('context') || line.data.hasOwnProperty('extra') ">

                                        <div class="log-context" ng-if="line.data.hasOwnProperty('context')">
                                            <h4>Context</h4>
                                            <ul class="list-unstyled">
                                                <li ng-repeat="(key, value) in line.data.context">
                                                    <strong>[[ key ]]</strong>: [[ value ]]
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="log-extra" ng-if="line.data.hasOwnProperty('extra')">
                                            <h4>Extra</h4>
                                            <ul class="list-unstyled">
                                                <li ng-repeat="(key, value) in line.data.extra">
                                                    <strong>[[ key ]]</strong>: [[ value ]]
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ asset('work/Javascript/watchman/bower_components/gos-websocket-client-angular/bower_components/gos-websocket-client/dist/websocket.js') }}"></script>
        <script src="{{ asset('work/Javascript/watchman/bower_components/gos-websocket-client-angular/bower_components/angular/angular.min.js') }}"></script>
        <script src="{{ asset('work/Javascript/watchman/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
        <script src="{{ asset('work/Javascript/watchman/bower_components/angular-scroll-glue/src/scrollglue.js') }}"></script>
        <script src="{{ asset('work/Javascript/watchman/bower_components/gos-websocket-client-angular/dist/angular-websocket.js') }}"></script>

        <script>
            var watchman = angular.module('watchman', ['GosWebsocket', 'ui.bootstrap', 'luegg.directives']);

            watchman.config(function($interpolateProvider){
                $interpolateProvider.startSymbol('[[').endSymbol(']]');
            });

            watchman.run(['WebsocketService', function(WebsocketService){
                WebsocketService.setConfig({
                    host: 'notification.dev',
                    port: 1337,
                    debug: false,
                    secured: false
                });
            }]);

            watchman.controller('LogController', function($scope, WebsocketService){
                var connection = WebsocketService.connect();

                $scope.collection = {};
                $scope.display = null;

                $scope.$watch('display', function(newValue, oldValue){
                    console.log(newValue, oldValue);
                });

                connection.then(function(session){
                    WebsocketService.subscribe('watcher');

                    $scope.$on('ws:[watcher]:publication', function(event, payload){
                        var data = $scope.$eval(payload);

                        if(data.file_name == 'pipeline.log'){
                            console.log('PIPPPPPPPE');
                        }

                        if(null === $scope.display){
                            $scope.display = data.file_name;
                        }

                        if(!$scope.collection.hasOwnProperty(data.file_name)){
                            $scope.collection[data.file_name] = [];
                        }

                        $scope.collection[data.file_name].push(data);
                        $scope.$apply();
                    });
                });
            });
        </script>
    </body>
</html>