{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ asset('bundles/gosnotification/js/notification/dist/notification-widget.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}



    {#<div ng-app="gosNotification">#}
        {#<div class="gos-notification-container">#}
            {#<ul class="gos-notification-ul">#}
                {#<li class="gos-notification-li">#}

                {#</li>#}
            {#</ul>#}
        {#</div>#}
    {#</div>#}

    {#<br>#}
    {#<br>#}
    {#<br>#}

    {#<div ng-app="main">#}
        {#<div ng-controller="myController" ng-init="init()">#}
            {#Homepage.#}

            {#<input type="text" ng-model="message">#}
            {#<input type="submit" ng-click="send(message)">#}

            {#<toaster-container></toaster-container>#}
            {#<button ng-click="pop()">Show a notification</button>#}
        {#</div>#}
    {#</div>#}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

    <div class="container-fluid">
        <div class="row">
            <div ng-app="notificationApp">
                <div ng-controller="RealtimeController"></div>

                <button ng-controller="ToggleController" type="button" ng-class="{active: open == true}" class="button-default show-notifications js-show-notifications" ng-click="toggleNotification()">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="32" viewBox="0 0 30 32">
                        <defs>
                            <g id="icon-bell">
                                <path class="path1" d="M15.143 30.286q0-0.286-0.286-0.286-1.054 0-1.813-0.759t-0.759-1.813q0-0.286-0.286-0.286t-0.286 0.286q0 1.304 0.92 2.223t2.223 0.92q0.286 0 0.286-0.286zM3.268 25.143h23.179q-2.929-3.232-4.402-7.348t-1.473-8.652q0-4.571-5.714-4.571t-5.714 4.571q0 4.536-1.473 8.652t-4.402 7.348zM29.714 25.143q0 0.929-0.679 1.607t-1.607 0.679h-8q0 1.893-1.339 3.232t-3.232 1.339-3.232-1.339-1.339-3.232h-8q-0.929 0-1.607-0.679t-0.679-1.607q3.393-2.875 5.125-7.098t1.732-8.902q0-2.946 1.714-4.679t4.714-2.089q-0.143-0.321-0.143-0.661 0-0.714 0.5-1.214t1.214-0.5 1.214 0.5 0.5 1.214q0 0.339-0.143 0.661 3 0.357 4.714 2.089t1.714 4.679q0 4.679 1.732 8.902t5.125 7.098z" />
                            </g>
                        </defs>

                        <g fill="#000000">
                            <use xlink:href="#icon-bell" transform="translate(0 0)"></use>
                        </g>
                    </svg>

                    <div class="notifications-count js-count"></div>
                </button>

                <div ng-controller="BoardController" ng-init="init('ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}')" ng-cloak ng-show="display == true" class="notifications active js-notifications">
                    <h3>Notifications</h3>
                    <ul class="notifications-list" ng-scrollbar rebuild-on="notification:board:rebuild">
                        <li class="item no-data">You don\'t have notifications</li>
                        <li gos-notification="[[ notification.uuid ]]" ng-repeat="notification in notifications" ng-class="{expired: notification.viewed_at !== null}" class="item js-item">
                            <notification="[[ notification.uuid ]]" class="notification"></notification>
                        </li>
                    </ul>

                    <a href="#" class="show-all">Show all notifications</a>
                </div>
            </div>
        </div>
    </div>

    {{ render(controller('AppBundle:Security:login')) }}
{% endblock %}

{% block javascripts %}
    {#<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>#}
    {#<script src="{{ asset('js/angular.js') }}" ></script>#}
    {#<script src="{{ asset('js/angular-animate.min.js') }}" ></script>#}
    {#<script src="{{ asset('js/angular-touch.js') }}" ></script>#}
    {#<script src="{{ asset('js/toaster.js') }}"></script>#}
    {{ ws_client() }}

    <script>
        var notificationConfig = {
            websocketURI: 'ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}',
            channels: [
                'notification/user/{{ app.user.username|default('anon') }}'
            ],
            debug: true
        };
    </script>

    <script src="{{ asset('bundles/gosnotification/js/notification/dist/gos-notification.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gosnotification/js/notification/node_modules/angular-toastr/dist/angular-toastr.tpls.js') }}"></script>

    {#</script>#}

    {#<script>#}
        {#var _WS_URI = "ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}";#}
        {#var ws = WS.connect(_WS_URI);#}

        {#var app = angular.module('main', ['toaster']);#}

        {#app.config(['$interpolateProvider', function($interpolateProvider) {#}
            {#$interpolateProvider.startSymbol('[[').endSymbol(']]');#}
        {#}]);#}

        {#app.config(['$sceProvider', '$httpProvider', function($sceProvider, $httpProvider) {#}
            {#$sceProvider.enabled(false);#}
            {#$httpProvider.defaults.headers.common["X-Requested-With"] = 'XMLHttpRequest';#}
        {#}]);#}

        {#app.controller('myController', function($scope, toaster, $window) {#}
            {#{% if user is not null %}#}
                {#$scope.topic = "notification/user/{{ user.username }}";#}
            {#{% else %}#}
                {#$scope.topic = "notification/user/anon";#}
            {#{% endif %}#}
            {#$scope.message = 'hello world';#}
            {#console.log($scope.topic);#}
            {#$scope.init = function(){#}
                {#ws.on("socket/connect", function(session){#}
                    {#session.subscribe($scope.topic, function(topic, payload){#}
                        {#console.log($scope.topic);#}

                        {#$scope.$apply(function(){#}
                            {#console.log(payload);#}

                            {#//Object {#}
                            {#// uuid: "7fd83972-db9e-4817-bccc-cf71296be762",#}
                            {#// type: "info",#}
                            {#// icon: null,#}
                            {#// viewed_at: null,#}
                            {#// created_at: "2015-02-28T14:24:24+01:00"…}#}
                            {#// content: "Hello world"created_at: "2015-02-28T14:24:24+01:00"#}
                            {#// icon: null#}
                            {#toaster.pop(payload.type, payload.title, payload.content);#}
                        {#});#}
                    {#});#}

                    {#session.call("notification/get_notification",#}
                            {#{#}
                                {#'channel': 'notification/user/user2',#}
                                {#'uuid': 'f837f7e1-4913-4d20-a9f5-f4c449297ebd'#}
                            {#}).then(  //using "then" promises.#}
                            {#function(result) //the function for a valid result#}
                            {#{#}
                                {#console.log("RPC Valid!", result);#}
                            {#},#}

                            {#function(error, desc) // the function to handle an error#}
                            {#{#}
                                {#console.log("RPC Error", error, desc);#}
                            {#}#}
                    {#);#}

                    {#{% if user is not null %}#}
                        {#session.subscribe('notification/user/all', function(topic, payload){#}
                            {#console.log('notification/user/all');#}
                            {#$scope.$apply(function(){#}
                                {#console.log(payload);#}

                                {#//Object {#}
                                {#// uuid: "7fd83972-db9e-4817-bccc-cf71296be762",#}
                                {#// type: "info",#}
                                {#// icon: null,#}
                                {#// viewed_at: null,#}
                                {#// created_at: "2015-02-28T14:24:24+01:00"…}#}
                                {#// content: "Hello world"created_at: "2015-02-28T14:24:24+01:00"#}
                                {#// icon: null#}
                                {#toaster.pop(payload.type, payload.title, payload.content);#}
                            {#});#}
                        {#});#}
                    {#{% endif %}#}

                    {#$scope.$on('publish', function(event, message){#}
                        {#session.publish($scope.topic, message);#}
                    {#});#}

                    {#$window.onbeforeunload = function() {#}
                        {#session.unsubscribe($scope.topic);#}
                    {#};#}
                {#});#}

                {#ws.on("socket/disconnect", function(error){#}
                    {#console.log("Disconnected for " + error.reason + " with code " + error.code);#}
                {#});#}
            {#};#}

            {#$scope.send = function(message){#}
                {#$scope.$emit('publish', {#}
                    {#message: message,#}
                    {#type: "success",#}
                    {#title: "websocket"#}
                {#});#}
            {#};#}

            {#$scope.pop = function(){#}
                {#toaster.pop('success', "title", "text");#}
            {#};#}
        {#});#}
    {#</script>#}
{% endblock %}
